@model Overthink.PolitiScout.Models.SinglePageAppParameters

@{

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maintain Person List</title>
    <link href="~/Styles/cisco-sans.min.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Styles/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Styles/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Styles/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Styles/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Styles/maintainPersonList.css?systemVersion=@Model.SystemVersion" rel="stylesheet" />
    <script src="~/Source/jquery-3.5.1.min.js"></script>
    <script src="~/Source/jquery-ui.min.js"></script>
    <script src="~/Source/jquery.ui.widget.js"></script>
    <script src="~/Source/jquery.jqGrid.min.js"></script>
    <script src="~/Source/grid.locale-en.js"></script>
    <script src="~/Source/bootstrap.min.js"></script>
    <script src="~/Source/maintainPersonList.js?systemVersion=@Model.SystemVersion"></script>
</head>
<body>

    <div class="container-fluid">

        <div class="row">
            &nbsp;
        </div>

        <h1>Maintain Person List</h1>

        <input id="baseWebServiceUrl" type="hidden" value="@Model.BaseUrl" />
        <input id="systemVersion" type="hidden" value="@Model.SystemVersion" />
        <input id="screenMode" type="hidden" />
        <input id="selectedPersonId" type="hidden" />
        <input id="selectedCandidateForElectionId" type="hidden" />
        <input id="selectedOccupiedElectedOfficeId" type="hidden" />

        <div class="row">
            &nbsp;
        </div>

        <div class="alert alert-danger" role="alert" id="errorMessageBlock">
            <span id="errorMessageText"></span>
        </div>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <div class="col-lg-11">
                <h4>Search for Person</h4>

                <div class="row">

                    <div class="col-lg-1">
                        <label for="lastNameSearchMask">Last Name</label>
                    </div>
                    <div class="col-lg-2">
                        <input id="lastNameSearchMask" />
                    </div>
                    <div class="col-lg-1">
                        <label for="firstNameSearchMask">First Name</label>
                    </div>
                    <div class="col-lg-2">
                        <input id="firstNameSearchMask" />
                    </div>
                    <div class="col-lg-1">
                        <label for="preferredFirstNameSearchMask">Preferred First Name</label>
                    </div>
                    <div class="col-lg-3">
                        <input id="preferredFirstNameSearchMask" />
                        &nbsp;
                        <button type="button" id="searchForPerson" class="btn btn-sm btn-info">Search</button>
                    </div>

                </div>

                <div class="row">
                    &nbsp;
                </div>
                <h4>Person Search Results</h4>

                <div class="row">
                    <div class="col-lg-11">
                        <table id="personSearchResultGrid" class="scroll"></table><br />
                    </div>
                </div>

                <div class="row">
                    &nbsp;
                </div>

                <div class="row">
                    <div class="col-lg-1">
                        <button type="button" id="addPerson" class="btn btn-sm btn-info">Add Person</button>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" id="editPerson" class="btn btn-sm btn-info">Edit Person</button>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" id="deletePerson" class="btn btn-sm btn-info">Delete Person</button>
                    </div>
                </div>

                <div class="row">
                    &nbsp;
                </div>

                <h4>Candidacies for Selected Person</h4>

                <div class="row">
                    <div class="col-lg-11">
                        <table id="candidateForElectionGrid" class="scroll"></table><br />
                    </div>
                </div>

                <div class="row">
                    &nbsp;
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" id="addCandidateForElection" class="btn btn-sm btn-info">Add Candidate for Election</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" id="editCandidateForElection" class="btn btn-sm btn-info">Edit Candidate for Election</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" id="deleteCandidateForElection" class="btn btn-sm btn-info">Delete Candidate for Election</button>
                    </div>
                </div>

                <div class="row">
                    &nbsp;
                </div>

                <h4>Occupied Elected Office for Selected Person</h4>

                <div class="row">
                    <div class="col-lg-11">
                        <table id="occupiedElectedOfficeGrid" class="scroll"></table><br />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" id="addOccupedElectedOffice" class="btn btn-sm btn-info">Add Occupied Elected Office</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" id="editOccupedElectedOffice" class="btn btn-sm btn-info">Edit Occupied Elected Office</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" id="deleteOccupedElectedOffice" class="btn btn-sm btn-info">Delete Occupied Elected Office</button>
                    </div>
                </div>


            </div>
        </div>

        <div class="modal fade" id="addEditPersonModal" tabindex="-1" role="dialog" aria-labelledby="addEditPersonModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addEditPersonModalLabel">{mode} Person</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <label for="lastName">Last Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" id="lastName" />
                            </div>
                        </div>

                        <div class="row">
                            &nbsp;
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label for="firstName">First Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" id="firstName" />
                            </div>
                        </div>

                        <div class="row">
                            &nbsp;
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label for="middleName">Middle Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" id="middleName" />
                            </div>
                        </div>

                        <div class="row">
                            &nbsp;
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label for="generationSuffix">Generation/Suffix</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" id="generationSuffix" />
                            </div>
                        </div>

                        <div class="row">
                            &nbsp;
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label for="preferredFirstName">Preferred First Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" id="preferredFirstName" />
                            </div>
                        </div>

                        <div class="row">
                            &nbsp;
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label for="preferredFirstName">Date of Birth</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="date" id="dateOfBirth">
                            </div>
                        </div>

                        <div class="row">
                            &nbsp;
                        </div>

                        <div class="alert alert-danger" role="alert" id="dialogErrorMessageBlock">
                            <span id="dialogErrorMessageText"></span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="okOnAddEditPersonModal" class="btn btn-primary">OK</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmDeletePersonModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeletePersonLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeletePersonModalLabel">Delete Person</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                            <p>Please confirm you want to delete this Person record.  This action CANNOT be undone.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="onDialogDeletePerson" class="btn btn-default" data-dismiss="modal">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>
</html>
