@model Overthink.PolitiScout.Models.SecuredMenuPageAppParameters

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DevCX Customer Name Refinery - Error Occured</title>
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Styles/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Styles/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Styles/jquery-ui.theme.min.css" rel="stylesheet" />
    <script src="~/Source/jquery-1.11.2.min.js"></script>
    <script src="~/Source/jquery-ui.min.js"></script>
    <script src="~/Source/jquery.ui.widget.js"></script>
    <script src="~/Source/bootstrap.min.js"></script>
    <script src="~/Source/securedMenu.js"></script>
</head>
<body>

    <div class="container-fluid">

        <div class="row">
            &nbsp;
        </div>

        <h1>DevCX Customer Name Refinery - Error Occured</h1>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <div class="col-lg-6">
                <p>An error occurred when loading the DevCX Name Refinery web application.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

                @{
                    foreach (string systemError in Model.systemErrors)
                    {
                        <p> --> @systemError</p>
                    }
                }

                <br />
                <p>Message has been logged and BDM Support Team has been notified</p>

            </div>

        </div>

    </div>

</body>
</html>
