@model Overthink.PolitiScout.Models.SinglePageAppParameters

@{

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PolitiScout Data Manager</title>
    <link href="~/Styles/cisco-sans.min.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/signOn.css?systemVersion=@Model.SystemVersion" rel="stylesheet" />
    <script src="~/Source/jquery-3.5.1.min.js"></script>
    <script src="~/Source/bootstrap.min.js"></script>
    <script src="~/Source/signOn.js?systemVersion=@Model.SystemVersion"></script>
</head>
<body>

    <input id="baseWebServiceUrl" type="hidden" value="@Model.BaseUrl" />
    <input id="systemVersion" type="hidden" value="@Model.SystemVersion" />

    <div class="container-fluid">

        <h1>PolitiScout Data Manager</h1>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="alert alert-info" role="alert">
                    <p>You will be directed to Sign-On page to access this utility.</p>
                </div>
                <button id="redirectToSSO">Go to Sign-On page</button>
            </div>
        </div>

    </div>

</body>
</html>
